
.main{
	border: solid 1px red;	
	margin: 0 auto;
	position: absolute;
	width: 270px;
	height: 270px;
	top: 0px;
}
.btn{
	position: absolute;
	top: 280px;
}
.btn_2{
	left: 100px;
}

.btn_3{
	left: 160px;
}
.tips{
	position: absolute;
	top: 300px;
}